*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ffb2b2;
	
}

.buscar{
	background-color: transparent;
	
}

.form-control{
	border: 0px solid;
	background-color: transparent;
}

.tarjetas{
	background-color: transparent;
}